<%- include("./partials/header.ejs")  %>
         

<%# this file will run when you visit route http://localhost:8000/auth/reset-password %>


<div id="header" class="inder-header">
  <section class="left-side-container">
    <video loop autoplay muted width="100%" height="550px">
        <source src="/video/password.mp4" type="video/mp4">
    </video>

    <!-- <div class="waves-container">
        <img src="./images/login_wave1.svg" alt="waves-image">
    </div>  -->
</section>
     
  <section class="right-side-container">
        <div class="top-container">
             
             

        </div>
    
       <div class="heading-container">
          <h1>Welcome to Panda News !</h1>
            <p>We will send you an Reset-Link on  your</p>
                  <p class="sec-p" style="margin-left: 10%;">registered E-mail Id</p>

                             <!-- server side error -->
                             <% if(isError) { %>
                                <p id="fError" style="color:red"><%= errorType %></p>  
                                <% } %> 
                       <!-- client side error -->
                       <p id="clientError" style="color:red;display: none;"></p> 
                        
                       <!-- when Link Sent Successfully   -->
                        
                       <% if(isLinkSentSuccessfully) { %>
                        <p id="whenSLinkSend" style="color:green;font-weight: bolder;">Link Sent Successfully ! Chek Your Mail</p>  
                        <% } %>     
                    
        
       </div>

       <div class="form-container">
           <form action="/auth/reset-password" method="POST">
              <div class="email-container">
                   <div class="email-label-container"><label for="email-id">Email</label></div>
                   <div class="email-input-container">
                       <input class="s-c" onfocus="hideErrorMessage(document.getElementById('fError') , document.getElementById('clientError') , document.getElementById('whenSLinkSend'))" type="text" name="user_email" id="email-id" autocomplete="off">
                   </div>
              </div>

              
              
           
            <div class="askForAccount-Container">
                <span>Already have account ? <b><a href="/">Login</a></b></span> <br />
                
            </div>
            <div class="askForAccount-Container">
                <span>Don't have account ? <b><a href="/auth/register">Sign up</a></b></span> <br />
                
            </div>

            

            <div class="login-button-container">
                <button onclick="checkingAllInputField( document.getElementById('clientError') , document.querySelectorAll('input.s-c'))" type="button" id="submitButton">Send Link</button>
            </div>
          
              
        </form>
       </div>

  </section>

  
</div>




<%- include("./partials/footer.ejs") %>
