* {
  padding: 0;
  margin: 0;
  boxsizing: border-box !important;
  font-family: var(--font-love-family);
  user-select: none !important;
}

:root {
  --paddingLeft-25: 25px;
  --font-love-family: "Della Respira", serif;
  --g-green: #86efac;
  --like-black: #183153;
}

.inder-header {
  width: 100%;

  /* box-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1); */
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

#dashboard-header {
  position: sticky;
  top: 0;
}

.left-side-container {
  width: 50%;
  min-height: 700px;
  height: 100vh;

  background-image: url("../images/login_wave1.svg");
  background-position: 0 102.5%;
  background-size: contain;
  background-repeat: no-repeat;
}

.right-side-container {
  width: 50%;

  min-height: 700px;
  height: 100vh;
  background-image: url("../images/login_wave2.svg");
  background-position: 0 100%;
  background-size: contain;

  background-repeat: no-repeat;
}

.top-container {
  height: 100px;
  /* border:1px solid red; */
  background-image: url("../images/panda-logo.png");
  background-position: 100px 0;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 20px;
}
.heading-container h1 {
  padding-left: var(--paddingLeft-25);
  font-family: var(--font-love-family);
}
.heading-container p {
  padding-left: 30px;
  font-weight: 500;
  margin-top: 5px;
  font-family: var(--font-love-family);
}

.email-container,
.password-container,
.name-container {
  /* border:1px solid red; */
  margin: 30px;
}

.email-container .email-label-container label,
.password-container .pass-label-container label,
.name-container .name-label-container label {
  font-weight: 600;
  font-family: var(--font-love-family);
}

.email-input-container,
.pass-input-container,
.name-input-container {
  width: 60%;
  height: 50px;
  margin-top: 10px;
}
#email-id,
#pass-id,
#name-id,
#new-pass-id,
#confirm-pass-id {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 7px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.askForAccount-Container {
  margin-left: 15%;
  margin-bottom: 10px;
}

.askForAccount-Container span b {
  color: blue;
  text-decoration: underline;
}

.login-button-container {
  margin: 30px;
}
.login-button-container button {
  width: 200px;
  height: 50px;
  border-radius: 24px;
  border: none;
  outline: none;
  background: #18181b;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  cursor: pointer;
}

.wrapper {
  height: 100vh;
  background: red;
}

.waves-container {
  position: relative;
  bottom: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #273036;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7d2fe;
}

/* Dashboard Css start */
#dashboard-header {
  height: 70px;
  background: #ffffff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

#logo-con {
  width: 20%;
  /* border:1px solid red; */
  height: 100%;
  display: flex;
}
#search-con {
  width: 60%;
  /* border:1px solid blue; */
  height: 100%;
  display: flex;
  align-items: center;
}

#right-icon-con {
  width: 20%;
  /* border:1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logo-con #drawer-icon-con {
  width: 35%;
  height: 100%;
  /* border:1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo-con #main-logo-con {
  width: 65%;
  height: 100%;
  /* border:1px solid yellow; */
}

#logo-con #main-logo-con img {
  width: 100%;
  height: 100%;
}

#logo-con #drawer-icon-con #icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: #f1f5f9;
  cursor: pointer;
}
#logo-con #drawer-icon-con #icon:hover {
  color: white;
  background: var(--like-black);
  border-color: #71717a;
  cursor: pointer;
}
#logo-con #drawer-icon-con #icon:active {
  background: var(--g-green);
}

#main-search-con {
  width: 100%;
  height: 90%;
  border: 2px solid var(--like-black);
  border-radius: 32px;
  box-sizing: border-box;
  cursor: auto;
  display: flex;
}

#icon-search-con {
  width: 20px;
  height: 30px;

  margin: 15px;
  margin-top: 19px;
  background-image: url("/images/icon.svg");
  background-repeat: no-repeat;
}
#close-icon-con {
  width: 20px;
  height: 30px;
  margin: 15px;
  margin-top: 19px;
  cursor: pointer;
}

#close-icon-con:hover {
  color: red;
}

#close-icon-con:active {
  color: var(--g-green);
}

#inputSeach {
  width: 90%;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: var(--font-love-family);
  font-size: 18px;
}
input[type="search"]::placeholder {
  color: #e5e7eb;
  font-size: 18px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.u-same {
  width: 50px;
  height: 50px;
  /* border:1px solid red; */
  color: var(--like-black);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
}

.u-same:hover {
  background: var(--g-green);
}

#user-move-vert img {
  width: 40px;
  height: 40px;
}
#search-mb-con {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#search-mb-con img {
  width: 30px;
  height: 30px;
}

#cover {
  width: 100%;

  height: auto;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
  left: -100vw;
  /* border:2px solid red; */
  box-sizing: border-box;
}

/*side drawer container*/
#side-drawer-con {
  /* border:1px solid var(--like-black); */
  width: 270px;
  height: 100vh;
  z-index: 2 !important;
  top: 0;
  left: 0px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  background: #ffffff;
  /* border:5px solid blue; */
  overflow-y: auto;
}

#left-drawer-profile-container {
  width: 100%;
  height: 150px;

  background-repeat: no-repeat;
  background: url("/images/left_drawer_shape1.svg"), rgba(51, 65, 85, 1);
  background-repeat: no-repeat;
  background-position: -60px -50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#profile_pic-con {
  /* border:2px solid red; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 30px;
}
#profile_pic-con img {
  border-radius: 50%;
  cursor: pointer;
}

#content-icon-con {
  /* border:2px solid var(--like-black); */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: flex-start;
  position: absolute !important;
  right: 10px;
  top: 10px;
  background: var(--like-black);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--like-black);
  font-size: 50px;
  font-weight: bold;
  background: white;
  cursor: pointer;
}
#content-icon-con:hover {
  color: var(--g-green);
  background-color: var(--like-black);
  border: 1px solid var(--like-black);
  transition: all 0.1s;
}

#content-icon-con:active {
  color: var(--like-black);
  background: #ffffff;
  border: 1px solid white;
}

#username-con {
  width: 140px;
  height: 60px;
  /* border:1px solid white; */
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#username-con h3,
b {
  color: white;
  letter-spacing: 1px;
}

#verified-icon-con {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-contentc: center;
  align-items: center;
  margin-top: 30px;
}
#verified-icon-con img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#logout {
  width: 100%;
  padding: 20px;

  /* border:3px solid black; */
  box-sizing: border-box;

  background: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

#logout h4 {
  margin-left: -50px;
  letter-spacing: 1px;
}
#logout:hover {
  background: var(--g-green);
}
#logout:active {
  background: #f43f5e;
}

#items-container {
  width: 100%;

  /* border:1px solid red; */
  box-sizing: border-box;
}

li {
  list-style-type: none !important;
}

.profile-side-li {
  /* border:1px solid red; */
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
  background-color: #fde68a;

  border-bottom: 1px dashed var(--like-black);
  cursor: pointer;
}

.profile-side-li:hover {
  background-color: var(--g-green);
  border-bottom: 2px solid var(--like-black);
}
.profile-side-li:active {
  user-select: none;
  background: #f8fafc;
  border-bottom: 5px solid var(--like-black);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.profile-side-li span {
  margin-left: 20px;
}
.user-p-li {
  background: #f8fafc;
}
.user-p-li .fa-sort-down {
  margin-left: 100px;
  font-size: 20px;
  margin-top: -7px;
}
.cat-li {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 15px;

  background: #f8fafc;
  border-bottom: 1px dashed var(--like-black);
  cursor: pointer;
}

.cat-li:hover {
  background-color: var(--g-green);
  border-bottom: 2px solid var(--like-black);
}

.Cat-li:active {
  user-select: none;
  background: #f8fafc;
  border-bottom: 5px solid var(--like-black);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.cat-li .fa-user {
  padding-left: 20px;
  position: relative;
  top: 10px;
}

.cat-li span {
  padding-left: 20px;
  position: relative;
  top: 10px;
}

.cat-li ul {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.cat-li ul li {
  display: block;
  width: 100%;
}

.d-hide {
  display: none !important;
}

.cat-li:hover .d-hide {
  display: block !important;
  transition: all 1s;
}

.logged-user-name {
  margin-left: 20%;
}

.otp-h {
  margin-left: 50px;
}
.otp-p-1 {
  margin-left: 50px;
}
.otp-p-2 {
  margin-left: 90px !important;
}
.otp-r-b {
  margin-left: 150px;
}
.otp-t {
  margin-left: 120px;
}
.otp-s-button {
  margin-left: 100px;
}
.otp-c-e {
  margin-left: 60px;
}

.otp-input {
  /* border:1px solid red !important; */
  min-width: 330px;
  max-width: 330px;
}
.email-container {
  /* border:1px solid red !important; */
}

@media only screen and (max-width: 750px) {
  #right-icon-con {
    width: 40%;
    justify-content: flex-end;
    margin-right: 10px;
  }

  #logo-con {
    width: 60%;
    margin-left: 0px;
  }

  #search-con {
    display: none !important;
  }

  #user-icon-con {
    display: none;
  }
  #user-notification {
    display: none;
  }

  #search-mb-con {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .left-side-container {
    display: none;
  }
  .right-side-container {
    width: 100%;
  }
  .top-container {
    background-position: center center;
  }
  .heading-container {
    text-align: center;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }

  .email-input-container,
  .pass-input-container,
  .name-input-container {
    width: 70%;
    margin: 0 15%;
    
  }

  .email-label-container,
  .pass-label-container,
  .name-label-container {
    margin: 0 15%;
  }

  .askForAccount-Container {
    text-align: center;
    margin-left: 0%;
  }

  .login-button-container {
    text-align: center;
  }

  .heading-container .sec-p {
    margin-left: 0 !important;
  }

  .forgotpass-container {
    text-align: center;
    margin: 0 !important;
  }

  .otp-h {
    margin-left: 0px;
  }
  .otp-p-1 {
    margin-left: 0px;
  }
  .otp-p-2 {
    margin-left: 0px !important;
  }
  .otp-r-b {
    margin-left: 0px;
  }
  .otp-t {
    margin-left: 0px;
  }
  .otp-s-button {
    margin-left: 25px;
  }
  .otp-c-e {
    margin-left: 0px;
  }



  .otp-input{
      min-width:auto;
      max-width:auto;
  }


}
